/* CUSTOM WUFOO FORM EDITING ****************************************************************** */

form ul {
    padding-top: 17px;
}

form li {
    display: inline-block;
}

label.desc {
    display: none !important;
}

.wufoo-form-container {
    height: 100px !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select,
.wufoo li .wufoo-dropdown span {
    border-radius: 0.5rem !important;
    padding: 0.25rem 0.5rem !important;
}

.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus,
.wufoo select.select:focus, .wufoo li:focus, .wufoo-dropdown span:focus {
    border: 1px solid #FF0000 !important;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25) !important;
}

input.large, select.large {
    border-radius: 0.5rem !important;
    padding: 0.25rem 0.5rem !important;
}

.noI form li {
    width: 17% !important;
}

form li {
    display: inline-flex;
}

form li.buttons {
    height: 0.5rem;
    background-color: #0E4CB3;
    text-align: center;
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
    margin-left: 1.0rem;
    padding: 9px 1% 12px 1%;
    vertical-align: middle !important;
}

form li.buttons img {
    max-width: 50px !important;
}

.noI form li, .altInstruct form li {
    width: 17% !important;
}


/* ******************************************************************************************** */
