*{
	/* Globally set border-box as the default sizing algorithm */
	box-sizing:border-box !important;
}

.wufoo .field.text, .wufoo .field.textarea, .wufoo .field.select{
	padding:.4rem .25rem;
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:1px solid rgba(0,0,0,0.65);
	color:#404040;
	font-size:1rem;
}

.field.textarea{
	/* Default height for textarea elements */
	height:40px;
	min-height:40px;
}

.field.text:focus, .field.textarea:focus, .field.select:focus{
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:1px solid rgb(241, 7, 7) !important;
	outline:none !important;
	transition:box-shadow 200ms;
}

.wufoo li.focused{
	/* Remove the bg color from the container of input fields during focusing */
	background-color:unset !important;
}

input.text, input.search, textarea.textarea{
	/* Remove the default image placed on these elements */
	background-image:none;
}

.field.text + label, .field.textarea + label{
	/* Labels under inputs */
	display:none !important;
}

span.symbol{
	line-height:215%;
}

.wufoo label.desc{
	font-size:1rem !important;
	color:#444444 !important;
}
